.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/13;
    grid-column: 1/5;
    min-height:100%;
    background:black;
    background-size:cover;
}

.SignInPaper{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    background-color: rgb(97, 96, 96);
}

.netra{
    text-align: center;
    letter-spacing: 1px;
    color: #01bf71
}

.links{
    color:#01bf71;
    text-decoration:none;
}